body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

input {
  /*display: block;*/
  width: 150px;
  font-size: 20px;
  margin: 20px;
  /*position: fixed;*/
  top: 100px;
  left: 100px;
}

#submitButton {
  width: 70px;
}

@media all and (max-width: 600px) {
  input {
    width: 100%;
    left: 0;
    top: 0;
  }
}